<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuf8-pvBJfMUeQ6lQPFFDw66m2GugSUAc</string>
	<key>GCM_SENDER_ID</key>
	<string>496878803702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.freshTrack3</string>
	<key>PROJECT_ID</key>
	<string>freshtrack-8064a</string>
	<key>STORAGE_BUCKET</key>
	<string>freshtrack-8064a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496878803702:ios:d6730af428cbb9af90ead7</string>
	<key>DATABASE_URL</key>
	<string>https://freshtrack-8064a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>